*,
*:before,
*:after{
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-sizing: border-box;
}
body{
    height: 100vh;
    background: linear-gradient(#4288f1,#023c92);
}
.container{
    width: 400px;
    background-color: #fff;
    padding: 50px 30px;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border-radius: 12px;
    box-shadow: 25px 25px 30px rgba(0, 0, 0, 0.15);
    color: #111111;

}
label{
    display: inline-block;
    font-weight: 500;
    margin-bottom: 10px;

}
input[type="email"]{
    display: inline-block;
    border: 2px solid #d1d3d4;
    width: 88%;
    height: 50px;
    border-radius: 5px;
    outline: none;
    letter-spacing: 0.5px;
    font-weight: 400;
}
#icon{
    height: 50px;
    float: right;
    position: relative;
    font-size: 25px;
    padding-top: 10px;

}
#error-msg{
    display: none;
    color: #ff2851;
    font-size: 14px;
    margin-top: 10px;
    
}